<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918532003990-5q7bbssg5ahe415gn28dvgs4une66d4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918532003990-5q7bbssg5ahe415gn28dvgs4une66d4k</string>
	<key>API_KEY</key>
	<string>AIzaSyBI1PQ1adSmKjHCft5JAzSnk0RN6i_Riho</string>
	<key>GCM_SENDER_ID</key>
	<string>918532003990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koko.Book-Share</string>
	<key>PROJECT_ID</key>
	<string>bookshare-2d070</string>
	<key>STORAGE_BUCKET</key>
	<string>bookshare-2d070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918532003990:ios:4c06b180fa2e3f9ef9cab7</string>
</dict>
</plist>